    html,
    body {
        background-color: #F5F5F5;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        max-width: 100%;
    }

    .background {
        background-image: url(images/Rectangle\ 2.png);
        height: 25em;
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
         position: static;
    }
.nav {
            width: 100%;
            height: 20%;
            display: grid;
            grid-template-columns: 20vw 30vw 40vw;
            padding-top: 10px;
            justify-content: space-between;
        }

    .left-section {
        margin-left: 1%;
    }

    .logo {
        cursor: pointer;
        width: 5.4em;
        height: 2em;;
        text-align: left;
        margin-top: 0.4em;
        margin-left: 0.3em;
    }
    .right-section{
    display: inline-flex;
    margin-top: 1vw;
    }

.navbar li {
    font-family: "Montaga", serif;
    font-weight: 400;
    list-style: none;
}
.signup {
    background-color: #C39E9E;
    border: none;
    border-radius: 20px;
    width: 5em; 
    width: 8em;
    margin-top: 1em;
    cursor: pointer;
    margin-right: 1em;
    color: rgb(255, 255, 255);
}
.login {
    margin-right: 0.6em;
    color: #f6f6f6;
    cursor: pointer;
    margin-left: -3em;
}
.navbar{
margin-top: 1em;
}
.navbar a {
  text-decoration: none;
}
.middle-section {
    display: flex;
  }
.search {
    border-radius: 40px;
    background-color: #f6f6f6;
    border: black solid 1px;
    width: 11.4em;
    height: 19px;
    display: flex;
    justify-content: center;
    margin-top: 8em;
    margin-right: auto;
}
.search input{
    border-style: none;
    border: none;
    background: transparent; 
    width: 6em;
    padding-left: 1.4vw;
} 
.search input::placeholder {
    font-style: italic;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.search input:focus{ 
    outline: none;
}
.search button {
    width: 160px;
    height: 19px;
    position:relative;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 5em;
}
.Welcome {
    font-size: 1.4em;
    width: 90.6vw;
    position: relative;
    color: white;
    font-weight: bold;
    margin-left: 4vw;
    text-align: center;
    text-shadow: 0 5px 4px rgb(0, 0, 0, 25%);
    font-family: "Inter", sans-serif;
    margin-top: 3.4em;
}
.begining{
        display: flex;
            justify-content: center;
            margin-right: 1em;
            margin-top: 1em;
}
.shopnow {
        font-size: 3vw;
        background-color: rgba(255, 255, 255, 0.57);
            color: black;
            font-style: normal;
            font-family: "Montaga", serif;
            border: none;
            border-radius: 50px;
            padding: 2vw 4vw;
            box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
            transition: all 0.2s ease-in-out;
    }
.bi-arrow-right {
        transform: translateX(-50px);
        opacity: 0;
        width: 30px;
        position: absolute;
    }
.cursor {
            position: absolute;
            margin-top: 2.4vh;
            margin-left: 20.4vw;  
         }

.Headclass{
    display: flex;
    justify-content: center;
}
.headertext{ 
    background-color: rgb(183, 152, 152, 37%);
    width: 20em;
    height: 1.2em;
    text-align: center;
    margin-top: 1em;
}
.header-text { 
    position:relative;
    font-family: "Montaga", serif;
    font-size: 30px;
    margin-top: -0.4em;
}
    .catogires {
        width: 30vw;
        height: 150px;
        display: flex;
        justify-content: center;
        margin-top: 2em;
       gap: 1em;
       margin-left: auto;
       margin-right: auto;

    }
.Sunglass,.Eyglass {
            cursor: pointer;
            background-color: #E2E2E2;
            border-radius: 10px;
            width: 10em;
        }
.sunglassimage,.eyeglassimage{
    width: 9.3em;
    height: 5em;
    margin-top: 1em;
}
.sunglasstext,
.eyeglasstext {
    padding-top: 0.7em;
    font-size: 4vw;
    text-align: center;
}
.line {
    overflow-x: hidden;
    display:flex;
    margin-top: 2em;
    border-top: 1px solid #7F807F;
    width: 60%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.best-sellers {
    font-family: "Montaga", serif;
    font-weight: 400;
    font-style: normal;
 margin-top: 1em;
    text-align: center;
    font-size: 30px;
}
.cardcarogry1,.cardcarogry2{
display: grid;
}
.cards{
display: grid;
grid-template-columns:120px 120px 120px;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
}

.img img {  
     border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 25%);
    width: 7em;
    height: 7em;
    position: absolute;
    transition: 0.3s;
}
.name {
    font-size: 16px;
    padding-top: 7.7em;
    padding-left: 2em;
    width: 100%;
    }
.button{
display: flex;
justify-content: center;
    }

.seemore {
    background-color: rgba(255, 255, 255, 57%);
    color: black;
    font-style: normal;
    font-family: "Montaga";
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 25%);
    margin-top: 3em;
    padding: 13px 40px;
    font-size: 3vw;
}
.virtual-tryon-section{
display: flex;
margin-top: 3em;
}
.virtual-header {
    background-color: rgb(183, 152, 152, 37%);
    display: flex;
        height:1em;
        width: 40vw;
        margin-left: 14.7em;
        margin-top: 2em;
}
.virtual-img{
    position: absolute;
width: 16em;
height: auto;
}

.vatural-text{
    margin-left:1em;
    margin-top: -0.4em;
    font-family: "Montaga", serif;
    font-style: normal;
    font-size: 5vw;
    justify-content: center;  
    
}
.button{
    display: flex;
    justify-content: center;
}
.vatural-paragraph {
    
   justify-content: center;
   margin-left: 16em;

}
.vatural-paragraph p{
  text-align: center;
    font-family: "Montaga", serif;
    font-style: normal;
    font-weight: 400;   
    font-size: 2.8vw;
}

.trynow {
    background-color: rgba(255, 255, 255, 0.57);
    color: black;
    font-style: normal;
    font-family: "Montaga", serif;
    border: none;
    border-radius: 50px;
    padding: 13px 40px;
    margin-left: 250px;
    font-size: 3vw;
    margin-top: 1em;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
}
.aboutus-section {
display:flex;
    margin-top: 10em;

}

.aboutusimg {
    
    position: absolute;
    justify-content: flex-start;
width: 70vw;
    height: 70vw;
    margin-left: -12vw;
   z-index: 200;
}

.seconed {
    display: block;
    margin-top: 5em;
}

.aboutus-header {
    background-color: rgb(183, 152, 152, 37%);
    height: 1em;
        width: 19em;
        display: flex;
    margin-top: 1em;
margin-left: 25vw;
}

.aboutus-text {
    margin-top: -0.41em;
    width: 100%;
    font-size: 6vw;
    padding-left: 3.3vw;
    font-family: "Montaga", serif;
    font-style: normal;
    text-align: start;
}

.aboutus-paragraph {
    font-family: "Montaga", serif;
    font-style: normal;
    margin-top: 1.4em;
    text-align:start;
    margin-left: 40.8vw;
    font-size: 3vw;
}

.seemore2 {
    background-color: rgba(255, 255, 255, 0.57);
    color: black;
    font-style: normal;
    font-family: "Montaga", serif;
    border: none;
    border-radius: 50px;
    padding: 13px 40px;
        font-size: 3vw;
    display: flex;
    margin-top: 2em;
    margin-left: 6em;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
footer {
    margin-top: 11em;
    background-color: #DDC4C4;
    height: 33vh;
    border-radius: 30px 30px 0 0;
}
.footerlogo {
    padding-left: 20px;
    width: 80px;
    height: 20px;
    cursor: pointer;
}
.first-section{
    display: inline-flex;
    padding-top: 30px;
}
.social {
    position: absolute;
    right: 1px;
}

.bi {
    margin-right: 20px;
}
.second-section {
    margin-top: 20px;
    display: flex;
}

.second-section ul {
    font-size: 18px;
}

.second-section li {
    font-size: 10px;
    list-style: none;
    flex: row;
    font-family: "Montaga", serif;
    font-style: normal;
}

.sun-glassli,
.eyeglassli {
    padding-left: 10px;
}

.allli {
    padding-left: 20px
}
.footerline {display: none;}
@media screen and (min-width:720px) {
    html,body{
        overflow: none;
    }

.nav {
        width: 97vw;
        display: grid;

        grid-template-columns: 33vw 44vw 30vw;   
    }
 
    
    .background{
        background-image:  url(images/Rectangle\ 42.png);
        background-size: cover;
       object-fit: cover;
       height: 100vh;
    }

    .logo {
        cursor: pointer;
        width: 10em;
        height: 3em;
        margin-left: 2em;
    }

    .signup {
        width: 7em;
        height: 2.2em;
    }

    .login {
        color: #f6f6f6;
        cursor: pointer;
        margin-right: 0.6em;
    }
  .navbar{
    margin-top: 1.1em;
  }
    .search {
        margin-top: 1em;
        width: 19em;
        height: 40px;
    }
    .search input{
        margin-left: 1em;
    }

    .search button {
        width: 20em;
        height: 40px;
        margin-left: 14em;
    }

    .Welcome {
        font-size: 3em;
        margin-top: 2.5em;
        width: 78%;
        margin-left: 10vw;
    }

    .begining {
        margin-top: 0.5em;
    }
    .shopnow {
        font-size: 1.7em;
        padding: 1.5vw 4vw;
    }
        .shopnow .bi-arrow-right {
             transform: translateX(-50px);
             opacity: 0;
             width: 25px;
             height: 1em;
         }
         .bi-arrow-right{
           padding:6px;
         }
        .shopnow:hover {
        padding: 1.5vw 4.6vw;
        }
   .shopnow:hover .bi-arrow-right {
            opacity: 1;
            transform: translateX(0);
            position: absolute;
            transition: 0.19s;
   }
    .cursor {
        margin-top: 3em;
        position: absolute;
        margin-left: 10em;
        height: 4em;
    }
.headertext {
             margin-top: 3em;
             width: 30em;
             height: 1.6em;
         }
.header-text {
             font-size: 40px;
             margin-top: -0.4em;
         }
    
.catogires {
             height: 200px;
             margin-top: 3em;
             gap: 1.7em;
         }
.Sunglass,
.Eyglass{
     width: 30em;
}
.sunglassimage,
.eyeglassimage {
     width: 14em;
     margin-top: 3em;
     margin-left: 1em;
}
.sunglasstext,
.eyeglasstext {
   padding-top: 1em;
   font-size: 25px;
   font-weight: bold;
   text-align: center;
         }
.eyeglasstext{
    padding-top: 1.3em;
}

.line {
    margin-top: 3em;
}
.cards {
    margin-top: 50px;
    gap:4em;
}
.img img {
    width: 9em;
    height: 10em;
}
.name{
    font-size: 25px;
   padding-left: 1em;
}
   .img .photo1after:hover {
       opacity: 0;
       cursor: pointer;
   }
.best-sellers {
    margin-top:2em;
    font-size: 30px;
}
.seemore {
    font-size: 25px;
    padding: 16px 60px;
}
.seemore .bi-arrow-right {
    transform: translateX(-50px);
    opacity: 0;
    width: 40px;
    height: 1em;
    position: absolute;
}
.seemore:hover {
    padding: 16px 65px;
}
.seemore:hover .bi-arrow-right {
        opacity: 1;
        transform: translateX(0);
        position: absolute;
        transition: 0.19s;
}
.trynow .bi-arrow-right {
    transform: translateX(0);
    opacity: 0;
    width: 25px;
    height: 1em;
    position: absolute;
}
.bi-arrow-right {
    padding: 6px;
}
.trynow,.seemore2{
    font-size: 25px;
    padding: 16px 60px;
}
.trynow:hover {
    padding: 16px 65px;   
}
.trynow:hover .bi-arrow-right {
    opacity: 1;
    transform: translateX(-50);
    position: absolute;
    transition: 0.19s;
}
.bi-arrow-right {
    padding: 6px;
}
.seemore2{
    margin-left: 27vw;
}
.seemore2 .bi-arrow-right {
    transform: translateX(0);
    opacity: 0;
    width: 25px;
    position: absolute;
    padding-left: 160px;
}
.seemore2:hover {
    padding: 16px 65px;
    transition: 0.19s;
}
.seemore2:hover .bi-arrow-right {
    opacity: 1;
    transform: translateX(0);
    position: absolute;
}
.virtual-tryon-section{
    margin-left: 2em;
}
.first{
    display: grid;
    grid-column: auto;
}
.virtual-header {
    height: 6vh;
    width: 53vw;
    margin-top: 4em;
    margin-left: 17.6em;
}
.virtual-img {
    width: 20em;
    height: 27em;      
}
.vatural-text {
 margin-top:-0.3em;
    font-size: 3em;
   
}
.vatural-paragraph p {
    font-size: 2.5vw;
    margin-left: 0.5em;
}
.aboutus-section {
    margin-top: 8em;
}

.aboutusimg {
    width: 30em;
    height: 37em;
    margin-left: 0;
}

.seconed {
    margin-left: 9.2em;
    margin-top: 5em;
}

.aboutus-header {
    height: 5vh;
    width: 49vw;
margin-left: 2.2em;}

.aboutus-text {
    font-size: 3em;
    width: 100%;
margin-top: -0.4em;
    margin-left: 7.3vw;
}

.aboutus-paragraph {

    font-size: 2.5vw;
    margin-left: 20vw;
}

.first-section {
    justify-content: space-between;
    display: inline-flex;
    gap: 9vw;
}

.footerlogo {
   width: 100px;
    height: 28px;
}

.social {
    margin-top: 120px;
    left: 2vw;
}

.footerline {
    display: flex;
    margin-left: 30vw;
    width: 1px;
    height: 188px;
    margin-top: -10.6vh;
    background-color: rgba(217, 217, 217, 55%);
}

.second-section {position: absolute;
    right: 10vw;
    margin-top: -190px;
}

.second-section ul {
    font-size: 20px;
}

.second-section li {
    font-size: 15px;
}
    }
